<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="false">
  <!-- <test name="Login">
    <classes>
      <class name="executionScript.TestCase001_LoginCorrectly"/>
      <class name="executionScript.TestCase002_LoginIncorrectly"/>
    </classes>
  </test> --> <!-- Login -->
  <test name="Main Page">
    <classes>
      <class name="executionScript.TestCase003_MainPageElements"/>
    </classes>
  </test> <!-- Main Page -->
  <test name="Browse Products">
    <classes>
      <class name="executionScript.TestCase004_BrowseAccessories"/>
      <class name="executionScript.TestCase005_BrowseiMacs"/>
      <class name="executionScript.TestCase006_BrowseiPads"/>
      <class name="executionScript.TestCase007_BrowseiPhones"/>
      <class name="executionScript.TestCase008_BrowseiPods"/>
      <class name="executionScript.TestCase009_BrowseMacBooks"/>
    </classes>
  </test> <!-- Products Page -->
  <test name="Add to Carts">
    <classes>
      <class name="executionScript.TestCase010_BuyOneProduct"/>
      <class name="executionScript.TestCase011_BuySeveralProducts"/>
      <class name="executionScript.TestCase012_BuyAllProducts"/>
    </classes>
  </test> <!-- Add To Cart -->
</suite> <!-- TestSuite -->
